:root{
    --primary-color:#5B699C;
    --secondary-color: #ECD7EC;
    --tertiary-color: #D1E5F9;
    --accent-color: #1E4050;

    --background-color: #EFF2FE;
    --green-color: #2D483F;
    --green-light: #ADFFE4;
    --red-color: #E72636;
    --red-light: #ADFFE4;
}

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Poppins', sans-serif;
    background: var(--background-color);
}

h1 {
    color: var(--primary-color);
}

.score-container {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 1.5em;
}

.score-text {
    display: inherit;
    flex-direction: column;
    gap: 1.5em;
}

.score-text h1 {
    font-size: 2.5em;
}

.score-text p {
    font-weight: bold;
}

.score-buttons button {
    padding: 1em 2em;
    margin: 1.5em 1em;
    font-size: 1em;
    font-weight: 600;
    border-radius: 1em;
    border: 2px solid var(--primary-color);
    box-shadow: 0 4px 10px -5px rgba(0, 0, 0, 0.5);
}

.btn-primary {
    color: var(--background-color);
    background-color: var(--primary-color);
}

.btn-secondary {
    color: var(--primary-color);
    background-color: var(--background-color);
}