:root{
    --primary-color:#5B699C;
    --secondary-color: #ECD7EC;
    --tertiary-color: #D1E5F9;
    --accent-color: #1E4050;

    --background-color: #EFF2FE;
    --green-color: #2D483F;
    --green-light: #ADFFE4;
    --red-color: #E72636;
    --red-light: #ADFFE4;
}

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Poppins', sans-serif;
}

h1 {
    color: var(--primary-color);
}



.score-container {
    width: 100vw;
    height: 100vh;
    background-image: url('images/score_bg.svg');
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 1.5em;
}

.score-text {
    display: inherit;
    flex-direction: column;
    gap: 1.5em;
}

.score-text h1 {
    font-size: 2.5em;
}

.score-text p {
    font-weight: bold;
}

.score-buttons button {
    padding: 1.2em 2.5em;
    margin: 1.5em 1em;
    font-size: 1em;
    font-weight: 600;
    border-radius: 1em;
    border: 2px solid var(--primary-color);
    box-shadow: 0 4px 10px -5px rgba(0, 0, 0, 0.5);
}

.btn-primary {
    color: white;
    background-color: var(--primary-color);
}


.btn-secondary {
    color: var(--primary-color);
    background-color: white;
}


.download-container {
    width: 100vw;
    height: 100vh;
    background-color: var(--secondary-color);
    display: flex;
    justify-content: center;
    align-items: center;
}

.download-main {
    width: 65vw;
    height: 70vh;
    background-image: radial-gradient(circle, var(--secondary-color) 10%, white, white);
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    border-radius: 1em;
    box-shadow: 0 0 10px -5px rgba(0, 0, 0, 0.5);
}

.download-text p {
    display: block;
    padding: 0.8em;
    margin: 0 auto;
    width: 60%;
}

.download-buttons button {
    display: block;
    padding: 1.5em;
    margin: 2em auto 0 auto;
    width: 45%;
    font-size: 1em;
    font-weight: 600;
    border-radius: 1em;
    border: 2px solid var(--primary-color);
    box-shadow: 0 4px 10px -5px rgba(0, 0, 0, 0.5);
}