{% extends 'index.html' %}

{% block content %}
<div class="download-container">
    <div class="download-main">
        <div class="download-text">
            <h1> Your Exam is Ready! </h1>
            <p> The exam has been successfully generated. You can now review and download the questions, or start taking it right away. </p>
        </div>
        
        <div class="download-buttons">
            <button class="btn btn-secondary">Review & Download</button>
            <button  class="btn btn-primary">Start Exam</button>
        </div>
    </div>
</div>
{% endblock %}